{% extends "base.html" %}
{% block title %}张军的个人博客{% endblock %}
{% block header %}{{ super() }}{% endblock %}
{% block content %}
    <div style="width:100%;height:300px;padding:4px">
        <!--<div style="float:left;margin:0px;height:100%;width:15%">-->

            <!--<ul id="banner" style="list-style-type:none;background-color:white;margin:0px;">-->
                <!--<li style="text-align:center"><img src="../static/images/timthumb.jpg" style="height:70px"></li>-->
                <!--<li style="text-align:center"><img src="../static/images/timthumb1.jpg" style="margin-top:4px;height:70px">-->
                <!--</li>-->
                <!--<li style="text-align:center"><img src="../static/images/timthumb2.jpg" style="margin-top:4px;height:70px">-->
                <!--</li>-->
                <!--<li style="text-align:center"><img src="../static/images/timthumb2.jpg" style="margin-top:4px;height:70px">-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

        <div id="myCarousel" class="carousel slide" style="width:100%;height:100%;float: right">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" style="width:100%;height:100%">
                <div class="item active" style="width:100%;height:100%;margin:0px;padding:0px">
                    <img src="../static/images/title1.jpg"
                         alt="First slide" style="width:100%;height:100%">
                    <div class="carousel-caption">标题 1</div>
                </div>
                <div class="item" style="margin:0px;padding:0px">
                    <img src="../static/images/title2.jpeg"
                         alt="Second slide">
                    <div class="carousel-caption">标题 2</div>
                </div>
                <div class="item" style="margin:0px;padding:0px">
                    <img src="../static/images/title3.jpg"
                         alt="Third slide">
                    <div class="carousel-caption">标题 3</div>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev">&lsaquo;
            </a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next">&rsaquo;
            </a>
        </div>

    </div>

    {% for article in articles %}
        <article class="article">
            <div>

                <p style="width:15%;float: left"><a class="label label-danger" >{{ article.category_name }}</a></p>
                <p style="width: 85%;float:right;font-size:16px;">
                    <a target="_blank" href="{{ url_for('article.detail_article',article_id=article.id) }}"
                       title="利用新接口抓取微信公众号的所有文章">{{ article.title }}</a>
                </p>
            </div>


        <div style="height: 150px">
            <p style="width: 28%;float: left"><a target="_blank" href="{{ url_for('article.detail_article',article_id=article.id) }}">
                <img class="img-thumbnail"
                     src="http://cuiqingcai.com/wp-content/themes/Yusi/timthumb.php?src=http://qiniu.cuiqingcai.com/wp-content/uploads/2016/03/34.jpg&h=123&w=200&q=90&zc=1&ct=1"
                     alt="利用新接口抓取微信公众号的所有文章"/></a></p>
            <p style="color:#777;line-height:24px;margin-bottom:0;font-style: normal;width: 70%;float: right">{{ article.content }}</p>
        </div>

        <div style="margin-top: 15px">
            <p>
                <span class="col-sm-2"><a href="http://cuiqingcai.com/author/aiyo">{{
                            article.author }}</a></span>
                <span class="col-sm-2"> {{ article.count_scan }}浏览</span>
                <span class="col-sm-2"> <a
                        target="_blank"
                        href="http://cuiqingcai.com/4652.html#comments">{{ article.count_comments }}评论</a></span>
                <span class="col-sm-2">
                            <a href="javascript:;" data-action="ding" data-id="4652" id="Addlike" class="action"><i
                                    class="fa fa-heart-o"></i>
                            <span class="count">{{ article.count_like }}</span>喜欢</a></span>
            </p>
        </div>
    </article>
    {% endfor %}

    <ul class="pagination" style="margin: 20px auto;float: right">
        <li><a href="">&laquo;</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">&raquo;</a></li>
    </ul>
{% endblock content %}

