<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>注册</title>
</head>
<body>

<div class="container" style="width:60%;background-color:rgb(248,248,248);margin-top:300px;padding:40px">

    <form name="register" class="form-horizontal" role="form" action="{{ url_for('user.register') }}" method="post">

        <div class="form-group">
            <label for="username" class="col-sm-offset-2 col-sm-2 control-label">用户名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
            </div>
        </div>

        <div class="form-group">
            <label for="realname" class="col-sm-offset-2 col-sm-2 control-label">姓名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="realname" name="realname" placeholder="请输入真实姓名">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-offset-2 col-sm-2 control-label">密码</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="password" name="password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-success">注册</button>
            </div>

        </div>

    </form>
</div>
</body>
</html>